@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

}

a:focus-visible {
    box-shadow: rgb(191, 223, 255) 0px 0px 2px 3px, rgb(0, 65, 217) 0px 0px 2px 4px;

}


ul,
ol {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    line-height: 1.6;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

h3.photographer_section_city {
    font-size: 13px;
    color: #901C1C;
}

p.photographer_section_tagline {
    font-size: 10px;
}

p.photographer_section_price {
    font-size: 9px;
    color: #757575;
}